<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrqinzh.comment.mapper.CommentMapper">

    <resultMap id="baseMap" type="Comment" autoMapping="true">
        <id property="id" column="id" />
        <association property="article" javaType="Article">
            <result property="title" column="title" />
        </association>
    </resultMap>
    
    <select id="list" parameterType="com.mrqinzh.comment.domain.vo.CommentPageDTO" resultType="Comment">
        select * from comment where status = 0
        <if test="type != null">
            AND `type` = #{type}
        </if>
        <if test="nickname != null and '' != nickname">
            AND nickname LIKE CONCAT('%', #{nickname}, '%')
        </if>
        <if test="ip != null and '' != ip">
            AND ip LIKE CONCAT('%', #{ip}, '%')
        </if>
        <if test="startTime != null and endTime != null">
            AND createTime &gt; #{startTime} AND createTime &lt; #{endTime}
        </if>
    </select>

    <insert id="add" parameterType="Comment">
        INSERT INTO `comment` (
            avatar,
            nickname,
            content,
            articleId,
            parentId,
            ip
        )
        VALUES
            (
                #{avatar},
                #{nickname},
                #{content},
                #{articleId},
                #{parentId},
                #{ip}
            )
    </insert>

    <select id="getById" resultMap="baseMap">
        SELECT
            *
        FROM
            `comment` c
        LEFT JOIN article a ON a.id = c.articleId
        WHERE
            c.status = 0
            AND c.type = 1
        <if test=" idType == 'commentId'">
            and id = #{id}
        </if>
        <if test=" idType == 'articleId'">
            and articleId = #{id}
        </if>
    </select>

    <update id="deleteByTypeId">
        UPDATE `comment`
        SET status = 1
        WHERE
            1 = 1
        <if test=" idType == 'commentId'">
            and id = #{id}
        </if>
        <if test=" idType == 'articleId'">
            and articleId = #{id}
        </if>
    </update>

</mapper>